<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/head :: head}"></head>

<body class="container">
<header th:replace="~{fragments/header :: header}"></header>

<h1>Directors List</h1>
<table class="table table-striped">
    <thead class="thead-dark">
    <tr class="table-primary">
        <th>Id</th>
        <th>Birthdate</th>
        <th>Email</th>
        <th>Nationality</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="director : ${directors}">
        <td th:text="${director.id}"></td>
        <td th:text="${director.birthdate}"></td>
        <td th:text="${director.email}"></td>
        <td th:text="${director.nacionality}"></td>
        <td>
            <label>
                <select disabled size="5" style="max-height: 75px; overflow-y: auto;">
                    <option th:each="movie : ${director.getDirectedMovies()}" th:value="${movie.id}" th:text="${movie.title}"></option>
                </select>
            </label>
        </td>
    </tr>
    </tbody>
</table>

<a th:href="@{/}" class="btn btn-primary">Back to Home</a>
<footer th:insert="~{fragments/footer :: footer}"></footer>
</body>
</html>